<!DOCTYPE html>
<html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <form name="myForm">
        <input name="myTld" check-tld ng-model="myTld"/>
        <small style="color: red;" ng-if="myForm.myTld.$error.invalidTld">Not a valid TLD :(</small>
    </form>
</div>

<script src="bower_components/tld-browserified/tld.js"></script>
<script src="../angular-tld.js"></script>
<script src="app.js"></script>

</body>
</html>
